/* Slide */
.carousel .carousel-item {
  height: 200px;
  width: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  max-height: 200px;
}

/* Cards Conheça nossos amiguinhos */
.card{
  padding: 0;
  margin: 1%;

}
.tituloCard{
    font-size: 50px;
    text-align: center;
    
}
.o{
  padding-top: 100px;
  margin-bottom: 200px;
}
.colorCard{
  padding-top: 20px;
  border-radius: 30px;
  background-color: bisque;
}
.tamanhoCard{  
  height: 350px;
  align-items:right;
}


/*  PQ ADOTAR */


.pdCard{
  padding: 0px 70px;
}



/* AJUDE NOSSOS PARCEIROS */

.oe{
  margin: 0 auto;
}
.card-text{  
  font-size: 15px;
}


  