/* Cards Conheça nossos amiguinhos */
.o{
  padding-top: 100px;
  margin-bottom: 200px;
}
.colorCard{
  padding-top: 20px;
  border-radius: 30px;
  background-color: rgb(255, 228, 196);
}

/*  PQ ADOTAR */
.pdCard{
  padding: 0px 70px;
}

/* AJUDE NOSSOS PARCEIROS */
.oe{
  margin: 0 auto;
}
.card-text{  
  font-size: 15px;
}  