/*NAVBAR*/


.text-uppercase{
    font-weight: bold;    
}
.list-unstyled{
    margin-top: 20px;
}
.iconesFooter img{
    margin-top: 20px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
.iconesFooterPetHappy img{
    margin-top: 20px;
    height: 20px;
    width: 20px;
    display:inline-block;
    vertical-align:top;
    
}
.iconesFooterPetHappy p{
    margin-top: 15px;
    
    display:inline-block;
}
.fd li{
    margin-top: 20px;
}
.rt{
    margin: 25px;
}
.logo {
    align-items: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
}
.menu a{
    
    font-size: 30px;
    margin: 10px;
    color: red;
}


/*SLIDES*/


.oneSlyde{
    background-color: aqua;
    
}
.oneSlyde button{
    background-color: red;
    margin-bottom: 10%;
}
.oneSlydeTitulo{
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.oneSlydeParagrafo{
    text-align: center;
    padding: 5%;
    font-size: 20px;
    

}

/* cards Iniciais*/


.tituloCard{
    font-size: 50px;
    text-align: center;
    
}


/* ajude tambem nossos parceiros */
.campanha{
    background-color: #d3d3d3;
    height: 700px;
    

}
.retangulo h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
#rf {
    width: 100px;
    height: 100px;
}

.abaixo {
    width: 150px;
    height: 150px;
    text-align: center;
  }







/* FOOTER*/

.siteBlindado{
    height: 100px;
    width: 200px;
    margin-left: 85%;
    margin-bottom: 20%;
   

}