@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Radio Canada', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
}

.nav_tabs {
    width: 1096px;
    height: 1000px;
    margin: 100px auto;
    background-color: #fff;
    position: relative;
}

.nav_tabs ul {
    list-style: none;

}

.nav_tabs ul li {
    float: left;
}

.nav_tabs .label {
    width: 354px;
    padding: 25px;
    background-color: #363b48;
    border-width: 2px;
    box-shadow: 5px 5px 10px #9900F0;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.rd_tabs:checked~.label {

    background-color: #4700D8;
}

.rd_tabs {
    display: none;
}

.content {
    border-top: 5px solid #4700D8;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    background-color: white;
    display: none;
    position: absolute;
    height: 950px;
    width: 1062px;

}

.rd_tabs:checked~.content {
    display: block;
}

h1 {
    margin: 50px;
    font-size: 70px;
}

.box-tabs {
    width: 95%;
    height: 500px;
    margin: 50px auto 50px auto;
    font-size: 20px;
}

thead {
    background-color: #9900F0;
}

thead,
h2 {
    color: #9900F0;
}

thead th {
    color: white;
    text-align: center;
}

tbody td {
    text-align: center;
}

.container_sobre {
    border-width: 2px;
    box-shadow: 5px 5px 10px #9900F0;
}

.container_sobre h1 {
    color: rgb(71, 0, 216);
    
}

#container_adocoes {
    border-width: 2px;
    box-shadow: 5px 5px 10px #9900F0;
    height: 950px;
    right: 2px;
}

#container_adocoes h1 {
    color: rgb(71, 0, 216);
}

#conteiner_doacoes {
    border-width: 2px;
    box-shadow: 5px 5px 10px #9900F0;
    height: 1000px;
    right: 2px;
}

.titulo-doacoes {
    display: flex;
    float: left;

}

.titulo-doacoes h1 {
    color: rgb(71, 0, 216);
}

.titulo-doacoes-materiais {
    margin-top: 10px;
    display: flex;
    float: left;
}

.titulo-doacoes-materiais h1 {
    color: rgb(71, 0, 216);
}

#titulo-doacoes-secudario {
    color: rgba(72, 0, 216, 0.638);
}

#titulo-doacoes-materiais-secundario {
    color: rgba(72, 0, 216, 0.638);
}


.img-card-box-icone {
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px #F900BF;
    height: 200px;
    margin: 30px 25px 5px 30px;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}

.img-card-box-icone:hover {
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 0 5px 8px #9900F0;
}


.cards {
    margin-left: 40px;
    margin-right: 40px;
}



.img-card-box-icone-bandeira {
    width: 120px;
    height: 120px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px #F900BF;
    padding: 10px;
    margin-left: 90px;
    margin-top: 5px;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}

.img-card-box-icone-bandeira:hover {
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 0 5px 8px #9900F0;
}

.box-pai_2 {
    display: flex;
    float: left;
}



.box-pai_2 p {
    width: 700px;
    margin-left: 90px;
    font-size: 20px;
    color: white;
    padding: 20px 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    background-color: #9900F0;
}

.card-body h5 {
    color: #4700D8;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: auto;
    width: 100px;
}

.card-body a {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: auto;
    width: 100px;
    transition-property: transform;
    transition-duration: 1s;
}
.card-body a:hover{
    transform: scaleX(1.3) scaleY(1.3);
    background-color: #9900F0;
}

.box-teste {
    display: flex;

}


.img-box-cash {
    width: 220px;
    height: 220px;
    margin: 50px 10px 0px 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F900BF;
    background-color: white;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}

.img-box-cash:hover {
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 0 5px 8px #9900F0;
}

.box-box {
    height: 300px;
    margin: 30px;
}

.img-abrigo {
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px #F900BF;
    width: 80px;
    margin: 30px 25px 30px;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}

.img-abrigo:hover {
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 0 5px 8px #9900F0;
}

.box-doacao-material {
    display: flex;
    justify-content: space-evenly;
}

.box-doacao-material h4,
h5 {
    color: #4700D8;
    margin-top: 30px;
    text-align: center;
}

.img-doacao-material {
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px #F900BF;
    padding: 3px;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    width: 140px;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}

.img-doacao-material:hover {
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 0 5px 8px #9900F0;
}

.cards-abrigo {
    margin: 10px 10px;
    height: 280px;

}

#box-box-carrosel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-conteudo {
    margin-top: 20px;
}

.card-conteudo a {
    margin-left: 55px;
    transition-property: transform,backgroud-color;
    transition-duration: 1s;
}
.card-conteudo a:hover{
    transform: scaleX(1.3) scaleY(1.3);
    background-color: #9900F0;
}

#box-box-carrosel {
    background-color: rgba(137, 49, 145, 0.23);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

#controladores-local-user button {
    margin-left: -70px;
    margin-right: -70px;
}

#controladores-local-user span {
    background-color: #4700D8;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}

#controladores-local-user span:hover {
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 0 5px 2px #9900F0;
}

.box-img {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 0.1% 15% 2% 15%;
    padding: 110px 50px 50px 80px;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    box-shadow: 5px 5px 5px #F900BF;
    background-image: url(./img/usuario/show/Pessoa_1.png);
    background-size: cover;
    transition-property: transform,box-shadow;
    transition-duration: 1s;
}
.box-img:hover{
    box-shadow: 0 0 5px 10px #F900BF;
}

.box-icone-sobre {
    background-color: #9900F0;
}

#titulo-img-sobre {
    width: 500px;
    margin-left: 180px;
    margin-top: -35px;
    white-space: nowrap;
}
#titulo-img-sobre h2{
    text-shadow: 10px 10px 5px  #4e4f52;
    color: white;
   margin-left: 30px;
}

#titulo-img h1 {
    font-size: 40px;
    white-space: nowrap;

}